@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
/* global */
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    display: inline-block;
}
#logo{
    padding: 10px;
}

/* order */
.container{
    display: grid;
    grid-template-columns: 70px 40% 35% 15% 200px;
    height: 92.4vh;
}
.sort-btn-container{
    grid-column: 1;
    background: #1D2F52;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.sort-btn{
    width: auto;
    height: 200px;
    line-height: 200px;
    cursor: pointer;
}
.sort-btn span{
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.sort-btn.active{
    background: #F5F5F5;
    color: #000;
    font-weight: 600;
    pointer-events: none;
}
.sort-btn:hover{
    background: #101e2c;
}
.products{
    grid-column: 2;
    background: #F5F5F5;
}
.item-btns-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    /*    height: 92vh;*/
}
.item-btn{
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    background: #e5e5e5;
    cursor: pointer;
}
.item-btn:hover{
    background: #c4c4c4;
}
.item-btn.active{
    background: #3da1de;
    color: #fff;
}
.item-name{
    display: block;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 10px 0 10px;
}
.item-price{
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
}
.order-info{
    grid-column: 3;
    position: relative;
}
#new-order{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #f5f5f5;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.current-order{
    background: #f5f5f5;
    margin: 0 30px 0;
    padding: 20px;
    height: 48%;
    box-sizing: border-box;
    position: relative;
}
.current-order-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
    border-bottom: 1px #c4c4c4 solid;
}
#current-order-id{
    display: inline-block;
    margin-left: auto;
    font-size: 24px;
    font-weight: 600;
}
#current-order-time{
    display: block;
    width: 100px;
    flex: 0 1 100%;
}
#current-order-items{
    max-height: 500px;
/*    overflow-y: scroll;*/
}
.current-order-item{
    display: flex;
    flex-flow: wrap;
    padding: 10px 0;
}
.current-order-item-name, #total-txt{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
}
.current-order-item-price{
    margin: 0 110px 0 auto;
    font-size: 16px;
    position: relative;
    top:5px;
}
.current-order-item-options{
    flex: 0 1 100%;
}
.current-order-item-option-name{
    display: block;
}
.fas.fa-times{
    font-size: 20px;
    position:relative;
    top:5px;
    cursor: pointer;
}
.fas.fa-times:hover{
    color: #3da1de;
}
.delete::before{
    content:"\f00d";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 20px;
    position:relative;
    top: 3px;
    cursor: pointer;
}
.delete:hover{
    color: #3da1de;
}
#current-order-total{
    height: 50px;
    width: 100%;
    background: #e5e5e5;
    position: absolute;
    bottom: 80px;
    left: 0px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
#total-txt{
    line-height: 10px;
}
#total-price{
    margin: 0 0 0 auto;
    font-size: 20px;
    line-height: 10px;
    font-weight: 600;
    color: #1D2F52;
}
#current-order-btns{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    padding:  0 20px 20px 20px;
    box-sizing: border-box;
}
#cancel-btn{
    border: none;
    outline: none;
    background: none;
    border: 2px #1D2F52 solid;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    color: #1D2F52;
    height: 35px;
    width: 80px;
}
#pay-btn{
    margin: 0 0 0 auto;
}
.order-options{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5f5f5;
    margin: 0 30px 0;
    padding: 20px;
    height: 48%;
    box-sizing: border-box;
}
.option-item-header{
    margin: 20px 0 0 0;
    display: flex;
}
#add-btn, #pay-btn, .done-btn, #add-new-order{
    border: none;
    outline: none;
    background: #1D2F52;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    height: 35px;
    width: 80px;
}
#add-btn:hover, #pay-btn:hover, #add-new-order:hover{
    background: #101e2c;
}
#add-new-order{
    height: 40px;
    width: 120px;
}
.option{
    margin: 10px 0;
}
#option-item-name{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
}
#option-item-price{
    margin: 0 40px 0 auto;
    font-size: 16px;
    position: relative;
    top:5px;
}
.option-inputs{
    display: flex;
}
.option-header{
    font-size: 16px;
    margin: 10px 0;
}
.option-added{
    display: flex;
}
.option-added-price{
    margin: 0 120px 0 auto;
}
.size-btn{
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    background: #e5e5e5;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 20px 0 0;
}
.size-btn:hover{
    background: #c4c4c4;
}
.size-btn.active{
    background: #3da1de;
}
.size-btn.active > i{
    color: #fff;
}
.fas.fa-coffee{
    position: absolute;
    bottom: 5px;
    color: #1D2F52;
}
#small-size{
    font-size: 20px;
}
#medium-size{
    font-size: 30px;
}
#large-size{
    font-size: 40px;
}
#pending-orders{
    background: #f5f5f5;
    padding: 20px;
}
#pending-orders-count{
    flex: 0 1 100%;
}
.pending-order{
    width; 100%;
    background: #e5e5e5;
    margin: 20px 0;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.pending-order-id{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
}
.pending-order-item{
    margin: 10px 0;
}
.pending-order-item-name{
    display: block;
    font-weight: 600;
}
.pending-order-item-option{
    display: block;
}
.done-btn-div{
    display: flex;
    justify-content: flex-end;
}
